.contacts {
  background-color: #000000;
  color: #ffffff;

  .d-flex {
    flex-wrap: wrap;
  }

  &_left,
  &_right {
    width: 50%;
  }

  &_left {
    padding-right: 20px;
  }

  .heading {
    color: #ffffff;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 65px;
  }

  .heading_md {
    display: inline-block;
    padding: 0;
    margin-bottom: 37px;
  }

  .heading_sm {
    margin-bottom: 5px;
  }

  .contacts__info-item {
    margin-bottom: 25px;
  }
}

.contacts-slider {
  height: 506px;

  &__slide {
    padding-top: 45px;
    padding-bottom: 95px;
    height: auto;
  }

  .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets{
    mix-blend-mode: difference !important;
    right: 50px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 2px solid #ffffff;
    background-color: transparent;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: #ffffff;
    border-color: transparent;
  }

  .contacts_part{
    position: relative;
    transition: transform .5s ,opacity .6s;
    &.animated{
      transform: translateY(-50px);
      opacity: 0;
    }
  }
  .parallax-bg {
    width: 100vw;
    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.section-map {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #d7dcdf;
  z-index: 1;

  iframe {
    width: 100%;
    height: 100%;
  }
}

@include respond-to($sm) {
  .contacts {
    .d-flex {
      flex-wrap: wrap;
    }

    .heading {
      margin-bottom: 40px;

      &.heading_md {
        margin-bottom: 20px;
      }
    }


    &_left,
    &_right {
      width: 100%;
    }

    &_left {
      padding-right: 0;
      margin-bottom: 20px;
    }

    &__info-item {
      margin-bottom: 20px;
    }

    &-slider {
      height: auto;

      &__slide {
        padding-bottom: 90px;
      }
    }

    .contact-form {
      max-width: 100%;
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
      bottom: 40px;
      mix-blend-mode: difference !important;
    }
  }
}