.drones {
  .d-flex {
    align-items: center;
  }

  &__part-right {
    width: 45%;
    padding-left: 105px;
  }

  &__part-left {
    min-height: 805px;
    position: relative;
    flex-grow: 1;
  }

  &__part-inner {
    position: absolute;
    width: 55vw;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: yellowgreen;
  }

  .dots {
    text-align: left;
    margin-bottom: 62px;
  }

  .heading {
    margin-bottom: 62px;
  }
}