.drones {
  &.active_anim {
    .drones__img-sector {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }


  .d-flex {
    align-items: center;
  }

  &__part-right {
    width: 45%;
    padding-left: 105px;
  }

  &__part-left {
    min-height: 805px;
    position: relative;
    flex-grow: 1;
  }

  &__part-inner {
    position: absolute;
    width: 55vw;
    top: 0;
    bottom: 0;
    right: 0;
  }

  &__img-blocks {
    position: absolute;
    max-width: 634px;
    width: 72%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  &__img-sector {
    display: block;
    position: absolute;
    max-width: 403px;
    width: 64%;
    height: auto;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-180deg);
    left: calc(50% + 60px);
    transform-origin: 0 50%;
    transition: 1.5s;
    z-index: -1;
  }

  .dots {
    text-align: left;
    margin-bottom: 62px;
  }

  .heading {
    margin-bottom: 62px;
  }

  .drones-neuron{
    position: absolute;
    z-index: 0;
    top: 50%;
    width: 50%;
    transform: scale(-1, 1) translateY(-50%);


    top: 45%;
    width: 64%;
    max-width: 540px;
    right: 25%;
    svg{
      display: block;
    }
  }
}

@include respond-to($lg) {
  .drones__part-left {
    min-height: 580px;
  }
  .drones__part-right {
    width: 50%;
    padding-left: 87px;
  }
}

@include respond-to($md) {
  .drones {
    padding-bottom: 100px;

    .dots,
    .heading {
      margin-bottom: 30px;
    }

    .d-flex {
      flex-wrap: wrap;
    }

    &__part-left,
    &__part-right {
      width: 100%;
      padding-left: 0;
    }

    &__part-left {
      min-height: 490px;
      margin-bottom: 62px;
    }

    &__part-inner {
      max-width: 490px;
      width: 82%;
      left: 0;
    }
  }
}

@include respond-to($sm) {
  .drones {
    padding-bottom: 60px;

    &__part-left {
      min-height: 260px;
    }

    &__img {
      margin-left: 30px;
    }
  }
}

@include respond-to($sm) {
  .drones {
    &__part-left {
      min-height: 355px;
    }

    &__part-inner {
      max-width: 355px;
      width: 92%;
    }

    &__img-blocks {
      width: 78%;
    }
  }
}