.company-partners {
  .section__header {
    margin-bottom: 73px;
  }

  .partners-slider__desktop-nav {
    margin-left: auto;
    position: relative;
    z-index: 2;
  }

  .partners-slider__mob-nav {
    display: none;
    @include respond-to($md) {
      display: flex;
    }
  }

  @include respond-to($md) {
    .partners-slider__desktop-nav {
      display: none;
    }
  }

  .section__header {
    margin-bottom: 72px;

    .dots {
      margin-bottom: 10px;
    }
  }

  .d-flex {
    justify-content: space-between;
    align-items: flex-end;
  }

  .dots {
    max-width: 256px;
    width: 25%;
    display: flex;

    .dot:last-child {
      margin-left: auto;
    }
  }
}

.partners-slider {
  color: #545454;

  .partners-slider__mob-nav {
    display: none;
  }

  .swiper-slide {
    display: flex;
    height: auto;
  }

  .row {
    display: flex;
  }

  &__part {
    width: 50%;
    height: 100%;
    &_media {
      * {
        height: 100%;
      }
    }
  }

  &__img-wrap {
    clip-path: polygon(0% 30px, 30px 0%, 100% 0%, 100% 5%, 100% 100%, 100% 100%, 0% 100%, 0 0);
    max-height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    padding-left: 40px;
    padding-bottom: 26px; // height + margin between content and footer
  }

  &__article {
    max-width: 490px;

    p {
      margin-bottom: 20px;
    }
  }

  &__header {
    margin-bottom: 44px;
  }

  &__footer {
    position: absolute;
    width: auto;
    bottom: 0;
    right: 0;
    height: 42px;
    z-index: 20;
  }

  &__prev {
    &:hover {
      svg {
        transform: translateX(-5px);
      }
    }
  }

  .social-bar_small {
    position: absolute;
    bottom: 0;
    z-index: 5;
  }

  .social-bar__link {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
}

@include respond-to($md) {
  .company-partners .dots {
    display: none;
  }

  .partners-slider {
    .swiper-slide {
      flex-direction: column;
    }

    &__content {
      padding-bottom: 40px;
      padding-left: 0;

    }

    &__article {
      max-width: 100%;
    }

    &__part {
      width: 100%;

    }

    &__part_media {
      margin-bottom: 20px;
    }

    &__footer {
      padding-left: 0;
      width: 100%;
      align-items: center;
    }
  }
}

@include respond-to($sm) {
  .company-partners{
    padding-top: 20px;
  }
  .partners-slider {
    &__article {
      margin-bottom: 20px;
    }

    &__header {
      margin-bottom: 15px;
    }

    &__img-wrap {
      min-height: 262px;
    }
  }
  .company-partners {
    .section__header {
      margin-bottom: 40px;
      padding-top: 0;
    }
  }
}

@include respond-to($xs) {
  .partners-slider__part {
    min-height: 262px;
  }
}

