.bg-dark {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $black;
  color: $white;
  min-height: 646px;
  padding-top: 100px;
  text-align: center;
  overflow: hidden;
  z-index: 1;

  .container {
    position: relative;
    z-index: 1;
  }

  &:before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.85) .1%, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85) 99.9%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .section__text {
    max-width: 840px;
    width: 75%;
    margin: 0 auto 40px;
    font-size: 32px;

    p {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .dots {
    margin-bottom: 64px;
  }

  .decor-wrap-btn {
    width: fit-content;
    margin: 0 auto;
  }

  .presentation_bg {
    position: absolute;
    z-index: 0;
    top: 50%;
    width: 26%;
    transform: translateY(-50%);

    svg {
      display: block;
    }
  }

  .presentation_bg-left {
    left: 0;
  }

  .presentation_bg-right {
    right: 0;
    transform: scale(-1, 1) translateY(-50%);
  }
}


@include respond-to($sm) {
  .bg-dark {
    padding: 200px 0;
    &:before{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.75) );
    }

    .section__text {
      max-width: 100%;
      width: 100%;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 30px;
    }

    .dots {
      margin-bottom: 40px;
    }

    .presentation_bg {
      width: 181px;
      left: 50%;
      right: auto;
      transform-origin: 0 50%;
    }

    .presentation_bg-left {
      top: auto;
      transform: translateY(50%) rotate(-90deg);
      right: 0;
      bottom: 0;
    }

    .presentation_bg-right {
      transform: translateY(-50%) rotate(90deg);
      top: 0;
    }
  }
}
