.breadcrumbs {
  display: flex;
  font-size: 14px;
  line-height: 17px;

  &__item{
    position: relative;
    padding-right: 10px;
    &:after{
      position: absolute;
      content: '/';
      right: 3px;
      z-index: 1;
    }
    &:last-child:after{
      display: none;
    }
    a {
      font-weight: 700;
    }
  }
}

.back-btn{
  transform: rotate(180deg);
  display: inline-flex;
  margin-right: 20px;
}