.breadcrumbs {
  display: flex;
  font-size: 14px;
  line-height: 17px;

  &__separator {
    margin: 0 3px;
  }
  &__item{
    a {
      font-weight: 700;
    }
  }
}

.back-btn{
  transform: rotate(180deg);
  display: inline-flex;
  margin-right: 20px;
}