#baguetteBox-overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.baguetteBox-button#close-button {
  background: #000000;
  border-radius: 0;
  width: 69px;
  height: 69px;

  svg {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    g {
      stroke: #ffffff;
      stroke-width: 2;
    }
  }
}

.baguetteBox-button#next-button,
.baguetteBox-button#previous-button {
  bottom: 0;
  top: auto;
  background: #000000;
  border-radius: 0;
  width: 69px;
  height: 69px;
}

.baguetteBox-button#next-button {
  transform: translateX(100%);
  right: 50%;
}

.baguetteBox-button#previous-button {
  transform: translateX(-100%);
  left: 50%;
}

.baguetteBox-button#next-button:before,
.baguetteBox-button#previous-button:before {
  position: absolute;
  content: '';
  display: block;
  background-image: url(../assets/img/svg/arrow-right.svg);
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.baguetteBox-button#previous-button:before {
  transform: translate(-50%, -50%) rotate(180deg);
}

.baguetteBox-button#next-button svg,
.baguetteBox-button#previous-button svg {
  display: none;
}

#baguetteBox-overlay .full-image figcaption {
  bottom: 85px;
  background: transparent;
}

.gallery {
  &__item-inner {
    overflow: hidden;
  }

  &__item {
    position: relative;

    &-img {
      transition: .8s;
    }

    .icon-zoom {
      position: absolute;
      width: 67px;
      height: 68px;
      left: 86px;
      bottom: 86px;
      opacity: 0;

      &:after,
      &:before {
        position: absolute;
        content: '';
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &:after {
        width: 67px;
        height: 68px;
        background-image: url(../assets/img/svg/round_btn_bg-w.svg);
        transform: rotate(-45deg);
        z-index: 1;
        transition: .3s;
      }

      &:before {
        width: 32px;
        height: 32px;
        background-image: url(../assets/img/svg/maximize-2.svg);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }

    &:hover,
    &:focus {
      .gallery__item-img {
        transition: .8s;
        transform: scale(1.05);
        opacity: 1;
      }

      .icon-zoom {
        z-index: 2;
        opacity: 1;
      }

      .icon-zoom:after {
        transition: .3s;
        transform: rotate(0deg);
      }
    }
  }
}

.services {
  .gallery__item {
    &:hover,
    &:focus {
      .gallery__item-inner:before {
        transition: .5s;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
      }
    }

    &-inner {
      position: relative;
      transition: .5s;

      &:before {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
      }
    }
  }

  .grid-layout__col_6 .grid-layout__content_sm {
    padding-top: 57.75%;
  }
}