.section-projects {

  .section__header {
    position: relative;
    text-transform: uppercase;
    margin-bottom: 80px;
  }

  .open-filter {
    display: none;
  }

  .filter-wrap {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .projects-filter {
    display: flex;
    align-items: center;
    transform-origin: 50% 100%;

    &__item {
      display: flex;
      align-items: center;
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }

    .custom-select {
      color: #7F7F7F;
    }
  }

  .section__header-item_right {
    margin-left: auto;
  }
}

.projects-layout {
  margin: 0 -20px;
  display: flex;
  flex-wrap: wrap;

  &__item {
    padding: 20px;
  }

  &_grid {
    .projects-layout__item {
      width: 50%;
    }

    .projects-layout__inner {
      padding-top: 50.7%;
      min-height: 272px;
    }

    .projects-layout__title {
      font-size: 26px;
    }
  }

  &_list {
    .projects-layout__item {
      width: 100%;
    }

    .projects-layout__inner {
      padding-top: 36.5%;
    }

    .projects-layout__title {
      font-size: 32px;
    }
  }

  &__inner {
    position: relative;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    }

    &:hover {
      .projects-layout__content {
        color: black;

        &:before {
          transform: translateY(0);
        }
      }

      .projects-layout__info {
        display: flex;
      }
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 40px;
    color: white;
    z-index: 2;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateY(-100%);
      background-color: #f4f4f4;
      transition: transform .25s;
    }
  }

  &__title {
    position: relative;
    text-transform: uppercase;
    transition: color .5s, font-size .45s;
    font-weight: 700;
  }

  &__info {
    position: relative;
    margin-top: 6px;
    display: none;
    flex-wrap: wrap;

    &-item {
      display: flex;
      align-items: center;

      &:last-child {
        &:after {
          display: none;
        }
      }

      &:after {
        content: '';
        display: block;
        margin: 0 20px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #7F7F7F;
      }
    }
  }


}

.section-reviews {
  .section__header {
    margin-bottom: 100px;
  }
}

.slider-review {
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  &__part {
    width: 50%;
    color: #828282;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  &__title {
    color: black;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 1;
    color: #828282;

    .dark-text {
      font-weight: 700;
      color: #24243F;
    }
  }
}

@include respond-to($laptop) {
  .section-projects {

    .section__header-item {
      margin-right: 20px;
    }

    .projects-filter__item {
      margin-right: 10px;
    }
  }
}

@include respond-to($lg) {
  .projects-layout {

    &_grid {
      .projects-layout {
        margin: 0 -10px;

        &__item {
          padding: 10px;
        }
      }

      .projects-layout__inner {
        padding-top: 50.7%;
        min-height: 200px;
      }

      .projects-layout__title {
        font-size: 26px;
      }

      .projects-layout__content {
        padding: 20px;
      }
    }
  }

  .section-projects {
    .section__header {
      flex-wrap: wrap;
    }

    .filter-wrap {

      padding-top: 20px;
    }

    .projects-filter {
      margin-right: 0;
    }

    .section__header {
      margin-bottom: 40px;
    }

    .section__header-item_right {
      margin-right: auto;
      margin-left: 0;
    }
  }
}

@include respond-to($md) {
  .circle-decor,
  .layout-toggle {
    display: none;
  }
}

@include respond-to($sm) {
  .section-projects {
    padding-bottom: 30px;

    .open-filter {
      display: block;
    }

    .projects-filter {
      display: flex;
      align-items: center;
      position: absolute;
      left: -20px;
      right: -20px;
      bottom: 0;
      transform: translateY(100%) scale(0);
      padding: 30px 20px;
      background-color: #f4f4f4;
      z-index: 3;
      flex-wrap: wrap;
      opacity: 0;
      transition:all 0.5s ease-in-out;
      pointer-events: none;
      height: 0;

      &.open {
        height: auto;
        opacity: 1;
        transform: translateY(100%) scale(1);
        pointer-events: all;
      }

      .custom-select {
        padding-left: 0;
        padding-right: 35px;
      }
    }
  }
  .projects-layout__item {
    padding: 0;
    margin-bottom: 15px;
  }

  .projects-layout__content {
    padding: 40px 40px 10px;
  }

  .projects-layout_list {
    .projects-layout__inner {
      min-height: 240px;
    }

    .projects-layout__title {
      font-size: 28px;
    }
  }
  .open-filter {
    display: block;
  }
  .section-reviews {
    .section__header {
      padding-top: 0;
      margin-bottom: 40px;
    }
  }
  .slider-review__part {
    width: 100%;

    img {
      max-width: 310px;
      width: auto;
      height: 100px;
    }
  }

}

@include respond-to($xs) {
  .section-reviews {
    padding-bottom: 0;
  }
  .slider-review__row {
    margin-bottom: 40px;
  }
  .projects {
    .section-projects {
      .section__header {
        padding-top: 35px;
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 400px){
  .projects-layout__info-item:after {
    margin: 0 9px;
  }
  .projects-layout__content {
    padding-left: 25px;
    padding-right: 25px;
  }
}