@import "banner-video";

.single-projects {
  padding-top: 0;
  .section-banner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.project-work{
  padding-top: 100px;
}