.cover-anim {
  &__frame {
    overflow: hidden;
    transform: translateX(-110%);
    transition: transform .5s;
  }

  &__content {
    transform: translateX(110%);
    transition: transform .5s;
  }
}

.cover-anim_top {
  .cover-anim__frame {
    overflow: hidden;
    transform: translateY(110%);
    transition: transform .85s;
  }

  .cover-anim__content {
    transform: translateY(-110%);
    transition: transform .85s;
  }
}

.fade {
  opacity: 0;
  transition: opacity .5s;
}

.anim_started {
  .cover-anim__frame,
  .cover-anim__content {
    transform: none;
  }

  &.fade {
    opacity: 1;
  }
}

.text-reveal {
  position: relative;
  overflow: hidden;
  display: block;
  opacity: 0;

  &__word-wrap {
    position: relative;
    overflow: hidden;
    display: inline-block;
    transform: translateY(100%);
    transition: 1s;
  }

  &__word {
    display: block;
    position: relative;
    transform: translateY(-100%);
    transition: 1s;
  }
}

.anim_started {
  .text-reveal {
    opacity: 1;
  }

  .text-reveal__word-wrap,
  .text-reveal__word {
    transform: none
  }
}

.drones {
  .cover-anim {
    &__frame {
      overflow: hidden;
      transform: translateX(110%);
      transition: transform 1.2s;
    }

    &__content {
      transform: translateX(-110%);
      transition: transform 1.2s;
    }
  }

  &.anim_started {
    .cover-anim__frame,
    .cover-anim__content {
      transform: none;
    }
  }
}

.fadeInUp {
  transform: translateY(125px);
  opacity: 0;

  &.active_anim {
    transition: .85s;
    transform: translateY(0);
    opacity: 1
  }
}

.fadeInDown {
  transform: translateY(-20%);
  opacity: 0;

  &.active_anim {
    transition: .85s;
    transform: translateY(0);
    opacity: 1
  }
}




