.heading {
  font-weight: 700;
  font-size: 32px;
  color: $black;

  &_lg {
    font-size: 64px;
  }

  &_md {
    font-size: 20px;
  }

  &_sm {
    font-size: 16px;
  }
}

.text{
  &_lg{
    font-size: 32px;
  }
  &_md{
    font-size: 20px;
  }
  &_sm{
    font-size: 14px;
  }
  &_xs{
    font-size: 12px;
  }
}

