.about-us {
  .heading {
    margin-bottom: 32px;
    max-width: 470px;
    width: 80%;
  }

  .major-projects {
    padding-top: 100px;
    background-image: url(../assets/img/bg-light.png);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: inherit;

    &__part_right {
      padding-left: 30px;
      width: 75%;
    }

    .slider-mj-project {
      .inner-helper {
        width: 100%;
      }
    }

    &__part_left {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-shrink: 0;
      padding: 39px 0 30px;
      width: 25%;
      color: #ffffff;

      &:before {
        position: absolute;
        content: '';
        display: block;
        background-color: #000000;
        right: 0;
        top: 0;
        bottom: 0;
        left: -50vw;
        z-index: -1;
      }

      .heading_sm {
        margin-bottom: 9px;
      }

      .btn_color-white {
        padding-left: 0;

        &:hover,
        &:focus {
          .round svg {
            filter: invert(1);
          }
        }
      }
    }

    .slider__arrow {
      //width: 70px;
      //height: 70px;

      &:before {
        background: url(../assets/img/svg/arrow-right-sm.svg) center center no-repeat;
        background-size: 23px 14px;
      }

      &:after {
        background: url(../assets/img/svg/round_btn_bg-w.svg) center center no-repeat;
        background-size: contain;
      }
    }

    .slider-wrap {
      width: calc(100% - 45px + (100vw - 125%) / 2);
    }
  }

  .section-banner {
    padding-bottom: 100px;

    &__inner {
      transform: translateY(125px);
      opacity: 0;
    }

    &.anim_started {
      .section-banner__inner {
        transition: .65s;
        transform: translateY(0);
        opacity: 1;
      }
    }

    &:before {
      display: none;
    }

    .d-flex {
      align-items: center;
    }

    .section__header {
      margin-bottom: 60px;
    }

    &__inner {
      position: relative;
      width: 100%;
      text-align: center;
      z-index: 2;
    }

    &__bg {
      position: relative;
      min-height: 570px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &:before {
        position: absolute;
        content: '';
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.25) 100%);
      }
    }

    &__logo {
      display: block;
      margin: 0 auto 17px;
      max-width: 380px;
      width: 40%;
    }
  }

  .decor-grey {
    &__row {
      justify-content: center;
    }

    &__col {
      max-width: 665px;
      width: 100%;
      text-align: center;

      p {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .advantages {
    position: relative;

    &:before {
      position: absolute;
      content: '';
      background-image: url(../assets/img/bg-light.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 396px;
      width: 576px;
      right: 0;
      top: 0;
      transform: rotate(90deg) translate(10%, -50%);
    }

    .heading_sm {
      text-transform: uppercase;
      color: #ffffff;
    }
  }

}

.slider-mj-project {
  .swiper-slide {
    width: 580px;
    height: 290px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 40px 20px;
    color: #ffffff;
  }
}


.benefits {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    background-image: url(../assets/img/bg-light.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 396px;
    width: 576px;
    left: 0;
    top: 0;
    transform: rotate(-90deg) translate(30%, -50%);
  }
}

@include respond-to($md) {
  .chart-wrap {
    height: 584px;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;

    img {
      max-width: 1200px;
      height: 100%;
      display: block;
    }
  }
}

@include respond-to($sm) {
  .about-us {
    .major-projects {
      &__part_left {
        display: none;
      }
    }
  }
}