.news {
  .section__header {
    justify-content: flex-end;
    text-transform: uppercase;
    z-index: 4;
  }

  .open-filter {
    display: none;
  }

  .breadcrumbs {
    margin-right: auto;
  }

  .section__header-item_right {
    margin-left: auto;
    color: #7F7F7F;
  }

  .news-filter {
    display: flex;
    align-items: center;
    color: #7F7F7F;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    .nice-select {
      margin-right: 20px;
      font-weight: 700;
    }
  }
}

.open-filter {
  display: none;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;

  &:before {
    position: absolute;
    content: '';
    display: block;
    background-image: url(../assets/img/svg/grid.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px 34px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    z-index: 1;
  }
}

.posts-list {
  padding: 80px 0;
}

.post {
  font-size: 16px;
  line-height: 19px;
  color: #545454;
  padding: 20px 0;

  &__content,
  &__thumb {
    width: 50%;
  }

  &__content {
    padding-left: 20px;
  }

  &__thumb {
    position: relative;
    display: block;
    padding-top: 21%;
    margin-right: 20px;

    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 1;
    }
  }

  &__date {
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 17px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 33px;
  }

  &__link {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

@include respond-to($lg) {
  .news {
    .section__header {
      position: relative;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .posts-list {
      padding-top: 20px;
    }

    .circle-decor {
      display: none;
    }
  }
  .filter-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
  }
  .news-filter .nice-select {
    height: 31px;
  }
  .news-filter__item,
  .news-filter .news-filter__item-text {
    margin-right: 20px;
  }
}

@include respond-to($md) {
  .post {
    flex-wrap: wrap;

    &__content,
    &__thumb {
      width: 100%;
    }

    &__thumb {
      padding-top: 44%;
      margin-bottom: 30px;
      margin-right: 0;
    }
  }
}

@include respond-to($sm) {
  .news .open-filter {
    display: block;

    .section__header {
      z-index: 200;
    }
  }
  .section__header-item .news-filter__item-text{
    margin-right: auto;
  }
  .news-filter__item{
    margin: 0;
  }
  .news-filter {
    position: absolute;
    left: -2px;
    right: -2px;
    bottom: 0;
    transform: translateY(100%) scale(0);
    padding: 30px 20px 30px 0;
    background-color: #f4f4f4;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    opacity: 0;
    align-items: center;
    transition:all 0.5s ease-in-out;
    pointer-events: none;
    height: 0;

    &.open {
      height: auto;
      opacity: 1;
      transform: translateY(100%) scale(1);
      pointer-events: all;
    }
  }
  .posts-list {
    z-index: 0;
  }

  .section__header-item {
    margin-right: 0;
  }
}

@include respond-to($xs) {
  .news {
    .news-filter {
      left: -18px;
      right: -18px;
      padding-left: 18px;
      padding-right: 18px;
    }

    .posts-list {
      padding: 14px 0 20px;
    }

    .nice-select {
      padding-left: 0;
      padding-right: 35px;
    }
  }
  .page__pagination {
    padding-bottom: 0;
  }
  .post {
    &__thumb {
      padding-top: 61.25%;
      margin-bottom: 20px;
    }

    &__text {
      margin-bottom: 15px;
    }
  }
  .posts-list {
    margin: 0 -16px;
  }

}

@media screen and (max-width: 420px) {
  .section__header-item.news-filter__item-text {
    width: 100%;
    margin-bottom: 20px;
  }
  .news-filter {
    justify-content: flex-start;
  }
}