.news {
  .section__header {
    justify-content: flex-end;
    text-transform: uppercase;
  }

  .breadcrumbs {
    margin-right: auto;
  }

  .section__header-item_right {
    margin-left: auto;
    color: #7F7F7F;
  }

  .news-filter {
    display: flex;
    align-items: center;
    color: #7F7F7F;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    .nice-select {
      margin-right: 20px;
      font-weight: 700;
    }
  }
}

.posts-list {
  padding: 80px 0;
}

.post {
  font-size: 16px;
  line-height: 19px;
  color: #545454;
  padding: 20px 0;

  &__content,
  &__thumb {
    width: 50%;
  }

  &__content {
    padding-left: 20px;
  }

  &__thumb {
    position: relative;
    display: block;
    padding-top: 21%;
    margin-right: 20px;

    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 1;
    }
  }

  &__date {
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 17px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 33px;
  }

  &__link {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

@include respond-to($lg) {
  .news {
    .section__header {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .search-result {
      padding-top: 40px;
      width: 100%;
    }

    .news-filter {
      width: 100%;
    }

    .section__header-item {
      margin-right: 0;
    }

    .posts-list {
      padding-top: 30px;
    }

    .circle-decor {
      display: none;
    }
  }
}

@include respond-to($md) {
  .news {
    .post {
      flex-wrap: wrap;

      &__content,
      &__thumb {
        width: 100%;
      }

      &__thumb {
        padding-top: 44%;
        margin-bottom: 30px;
        margin-right: 0;
      }
    }
  }
}

@include respond-to($xs) {
  .news {
    .posts-list {
      padding: 14px 0 20px;
    }

    .post {
      &__thumb {
        padding-top: 61.25%;
        margin-bottom: 20px;
      }

      &__text {
        margin-bottom: 15px;
      }
    }
  }
  .page__pagination {
    padding-bottom: 0;
  }
}