.post {
  font-size: 16px;
  line-height: 19px;
  color: #545454;
  padding: 20px 0;

  &__content,
  &__thumb {
    width: 50%;
  }

  &__content {
    padding-left: 20px;
  }

  &__thumb {
    position: relative;
    display: block;
    padding-top: 21%;
    margin-right: 20px;

    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 1;
    }
  }

  &__data {
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 17px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 33px;
  }

  &__link {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}