.services {
  .section-banner {
    .heading {
      position: relative;
      padding-left: 20px;

      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 2px;
        background-color: #000000;
        left: 0;
        top: 100%;
        bottom: -5px;
        opacity: 0;
      }
    }

    &:before {
      display: none;
    }

    &.anim_started {
      .heading:before {
        top: -20px;
        opacity: 1;
        transition: .85s;
      }
    }
  }

  .decor-light {
    .bg-neuron_light {
      right: auto;
    }

    .heading {
      margin-bottom: 42px;
    }
  }
}

@include respond-to($lg) {
  .services {
    .section-banner {
      .d-flex {
        flex-wrap: wrap;
      }

      &__part_left {
        width: 100%;
        margin-bottom: 20px;
      }

      &__part_right {
        width: 100vw;
      }

      &__thumb {
        width: 100vw;
        max-width: 100vw;
      }

      .heading_lg {
        font-size: 46px;
        width: 50%;
        padding-left: 0;

        &:before {
          display: none;
        }
      }
    }
  }
}

@include respond-to($sm) {

  .decor-light {
    .bg-neuron_light {
      display: none;
    }
  }
  .services {
    .section-banner {
      min-height: auto;

      .section__header {
        padding-bottom: 40px;
      }

      &__content {
        padding-bottom: 52px;

        .d-flex {
          padding-bottom: 15px;
          padding-top: 0;
        }
      }
    }

    .decor-light .heading {
      margin-bottom: 35px;
    }
  }
  .services-provided {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .gallery {
    padding-bottom: 0;
  }

}

