.footer {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0em;

  &_top {
    padding: 28px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #c4c4c4;
    padding: 33px 0;
  }

  &__nav {
    display: flex;
    text-transform: uppercase;
    font-size: 12px;
  }

  &__nav-item {
    margin-right: 74px;

    &:last-child {
      padding-right: 0;
    }
  }
  &__nav-link {
    position: relative;
    display: inline-block;
    padding: 2px 8px 2px 7px;
    transition: .5s;

    &:before,
    &:before{
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: 2px;
      z-index: -1;
      height: 4px;
      background-color: #d9d9d9;
      opacity: 0;
    }
    &:hover,
    &:focus {
      -webkit-text-stroke: .5px #000000;
    }
    &:hover:before,
    &:focus:before{
      opacity: 1;
    }
  }
  .social-bar__link {
    width: 24px;
    height: 24px;
  }
}