.footer {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0;

  &_top {
    padding: 28px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #c4c4c4;
    padding: 33px 0;
    text-transform: uppercase;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: 12px;
  }

  &__nav-item {
    margin-right: 74px;

    &:last-child {
      padding-right: 0;
    }
  }

  &__nav-link {
    position: relative;
    display: inline-block;
    padding: 2px 8px 2px 7px;
    transition: .5s;

    &:before,
    &:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: 2px;
      z-index: -1;
      height: 4px;
      background-color: #d9d9d9;
      opacity: 0;
    }

    &:hover,
    &:focus {
      -webkit-text-stroke: .5px #000000;
    }

    &:hover:before,
    &:focus:before {
      opacity: 1;
    }
  }

  .social-bar__link {
    width: 24px;
    height: 24px;
  }

  .develop {
    display: inline-flex;
    align-items: center;

    img {
      width: 78px;
      height: 30px;
    }
  }

  @include respond-to($laptop-md) {
    &__nav-item {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@include respond-to($md) {
  .footer {
    &__nav {
      width: 100%;
      display: block;
      column-count: 3;
      column-width: 130px;
    }

    &__nav-item {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}

@include respond-to($sm) {
  .footer {
    &_top {
      flex-wrap: wrap;
      padding: 52px 0 45px;
    }

    &_bottom {
      padding: 45px 0;
      flex-wrap: wrap;
      text-align: center;
      align-items: center;
    }

    .copywriting {
      margin-bottom: 16px;
    }

    .copywriting,
    .develop {
      width: 100%;
    }

    .develop {
      justify-content: center;
    }

    &__nav {
      column-width: 100px;
      margin-bottom: 30px;
      font-size: 14px;
    }

    &__nav,
    .social-bar {
      width: 100%;

    }

    .social-bar__link {
      margin: 0 8px;
    }
  }
}